<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cart-mapper">

	<select id="selectCartList" resultType="int">
		SELECT GOODSNO FROM CART WHERE USERNO = #{userNo}
	</select>
	
	<select id="selectGoodsList" parameterType="int" resultType="Goods">
		SELECT * FROM GOODS WHERE GOODSNO = #{goodsNo}
	</select>
	
</mapper>










